
<p>Titel</p>

<p>
  In Zürich ist tolles wetter<br>
  wir waren zu dritt am See<br>
  und haben gebadet.<br>
</p>

<p>Wir waren 3 Personen<br>
  an einem sonnigen Tag<br>
  Für die ganzen 3 Stunden haben wir 30 Franken ausgegeben.<br>
</p>
