<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var expenses = $("input[rel=expenses]");
    var addendum = $(".add_expenses");
    addendum.hide();
    expenses.css({width: "4.5em"})
    expenses.attr("value", "war gratis");
    expenses.focus(function() {
      $(this).attr("value", "");
      addendum.show();
    });
    expenses.blur(function() {
      if ($(this).val() == "" || $(this).val() == 0) {
        $(this).attr("value", "war gratis");
        addendum.hide();
      }
    });
    
    
    // Autocompletion
    $("#autocomplete_location").autoCompleter("/suggest_location.json", {
      method: "POST",
      delay: 1000,
      minChars: 3,
      autoWidth: false,
      /*
      queryCallback: function(successCallback) {
        var fakeData = {
          results: [ "Debian", "Sidux" ],
        }
        successCallback(fakeData);
      }*/
    });
  });
</script>
<form action="/create" method="post">
  <p>Liebe Freunde</p>
  <div id="letterbody">
    <p>Zusammen mit <span><input name="persons" type="text" rel="persons"/></span> Freunden habe ich <span><input name="title" type="text" rel="activity" class="extralongtext"/></span></p>
    <p class="whisper">Das war in <span><input name="location" type="text" rel="location" class="extralongtext" id="autocomplete_location"/></span> <abbr class="note" alt="Autocomplete spinnt noch">1</abbr>.</p>
    <p class="whisper">Das kann man 
      <span>
        <select name="date" class="styled" rel="date">
          <option value="1">jederzeit</option>
          <option value="2">vor allem abends</option>
          <option value="3">vor allem an Wochenenden</option>
        </select>
      </span>
    </p>
    <p class="whisper">
      <span>
        <select name="weather" class="styled" rel="weather">
          <option value="0">bei jedem Wetter</option>
          <option value="1">bei gutem Wetter</option>
          <option value="2">bei schlechtem Wetter</option>
          <option value="3">wenn's warm ist</option>
          <option value="4">wenn's regnet</option>
          <option value="5">wenn's Schnee hat</option>
        </select>
      </span>
      <abbr class="note" alt="Was für Wetter gibt es so? Muss man das aufteilen? Wie kann das so einfach wie möglich gehalten werden, so dass man sich trotzdem ausdrücken kann?">2</abbr>
      machen.
    </p>
    <p class="whisper">Es <span class="add_expenses">hat pro Person</span> <span><input name="expenses" type="text" rel="expenses"/></span> <span class="add_expenses">Franken gekostet</span>.</p>
    <p class="whisper">und hat <span><input name="duration" type="text" rel="duration"/></span> Stunden gedauert.</p>
  </div>
  <p>Probierts doch auch mal!</p>
  <p>Liebe Grüsse, <span><input name="author" type="text" rel="sender" class="longtext"/></span></p>
  <p><input type="submit" value="Speichern"/></p>
</form>
<ol class="whisper">
  <li><strong>Postkarte schreiben</strong></li>
  <li><a href="#">Postkarte verpacken</a> (Foto hinzufügen)</li>
  <li><a href="#">Postkarte versenden</a> (Titel hinzufügen)</li>
</ol>