%form.madlib{:action=>"find"}
  %p
    Wir sind
    %input{:name=>"participants", :type=>"text"}
    Personen und haben
    %select.styled{:name=>"time"}
      %option{:value=>"1"} sofort
      %option{:value=>"2"} heute abend
      %option{:value=>"4"} morgen
      %option{:value=>"3"} am Wochenende
    lust etwas zu unternehmen
    %br
    das wetter ist
    %span.edit
      schneeig
    %br
    wir möchten dafür nicht mehr als 
    %input{:name=>"expenses", :type=>"text"}
    franken pro person investieren
    %br
    und haben
    %select.styled{:name=>"duration"}
      %option{:value=>"1"} 1 Stunde
      %option{:value=>"2", :selected=>"selected"} einige Stunden
      %option{:value=>"1"} den ganzen Tag
      %option{:value=>"1"} mehrere Tage
    zeit.
  #results
    %ul