body {
  margin: 2em;
  font-size: 1.4em;
  line-height: 1.2;
}

.edit {
  font-weight: bold;
  color: #f07;
}

ul#navigation {
  list-style: none;
  margin: 0; padding: 0;
}
ul#navigation li {
  display: inline;
  white-space: no-break;
  padding-right: 0.4em;
}

a.active {
  text-decoration: none;
}


/**
 * Experimente mit Formularen
 */
input[type=text] {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #f07;
  border-left: 0px solid #fff;
  font-size: 1em;
  color: #f07;
  width: 2em;
  text-align: center;
  font-family: inherit;
}
input[type=text]:focus {
  border: 2px inset #bbb;
  color: #333;
}



span.select {
  position: absolute;
  width: auto;
  padding: 0 8px;
  color: #f07;
  border-bottom: 2px solid #f07;
  overflow: hidden;
}