@charset "utf-8";
/*
Styling:			Page Layout and element specific stylings
Version:			0.1
Author:				Benjamin Wiederkehr
Start:				090126_BW
Last update:	090126_BW
Copyright:		ideabucket.ch */

@import 'reset.css';
@import 'typography.css';

/* HTML & Body
/////////////////////////////////////////////////////////////////*/
html, body{
  padding: 0 0 2em;
  background: #FFF;
}
#header{
  margin: 0 auto 20px;
  width: 680px;
}
#header h1 span.subheader{color:#aaa;font-size:0.5em;text-transform:uppercase;}
#content{
  font-size: 1.333em;
  margin: 0 auto;
  width: 680px;
}
/* Navigation
/////////////////////////////////////////////////////////////////*/
ul#navigation {
  list-style: none;
  margin: 0; padding: 0;
}
ul#navigation li {
  display: inline;
  white-space: no-break;
  padding-right: 0.4em;
}
/* Experimente mit Formularen
/////////////////////////////////////////////////////////////////*/
input[type=text] {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #f07;
  border-left: 0px solid #fff;
  font-size: 1em;
  color: #f07;
  width: 2em;
  text-align: center;
  font-family: inherit;
}
input[type=text]:focus {
  border: 2px inset #bbb;
  color: #333;
}
input[type=text].longtext {
  width: 6em;
  text-align: left;
}
input[type=text].extralongtext {
  width: 20em;
  text-align: left;
}
span.select {
  position: absolute;
  color: #f07;
  border-bottom: 2px solid #f07;
  overflow: hidden;
}
#letterbody p {
  margin: 0; padding: 0;
}
.whisper input[type=text] {
  border-bottom: 2px solid #ddd;
  color: #aaa;
}
/* Autocomplete
/////////////////////////////////////////////////////////////////*/
.autocompleter {
  border: 4px solid #ccc;
  color: #666;
  background-color: #ccc;
  z-index: 1;
  position: absolute;
  font-size: 1em;
}
.autocompleter .row {
  cursor: default;
  padding: 8px 20px;
  border-bottom: 1px solid #ccc;
}
.autocompleter .selected {
  color: #f07;
  background-color: #fff;
}
/* Self-Clearing Floats
/////////////////////////////////////////////////////////////////*/
.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix { display:inline-block;}
html[xmlns] .clearfix { display:block;}
* html .clearfix { height:1%;}