@charset "utf-8";
/*
Typographic Styles
Description:	Sets up some sensible default typography
Author:				Benjamin Wiederkehr
Start:				080118
Last update:	090126_BW

/* Global Styles
/////////////////////////////////////////////////////////////////*/
body	{
	color:#222;
	font-size:75%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Headings
/////////////////////////////////////////////////////////////////*/
h1 { font-size:3em; line-height:1; margin:0.5em 0; }
h2 { font-size:2em; margin:0.75em 0; }
h3 { font-size:1.5em; line-height:1; margin:0.5em 0; }
h4 { font-size:1.16667em; line-height:1.1667; margin:1.2857em 0; }
h5 { font-size:1em; margin-bottom:1.5em; }
h6 { font-size:1em; }

h1,h2,h3,h4,h5,h6 { color:#000;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{ text-decoration: none;}

/* Text Elements
/////////////////////////////////////////////////////////////////*/
p						{ margin:0 0 1.5em; }
p.last			{ margin-bottom:0; }
p img				{ float:left; margin:1.5em 1.5em 1.5em 0; padding:0; }
p img.top		{ margin-top:0; }
img					{ margin:0 0 1.5em; }

ul, ol			{ margin:0 1.5em 1.5em 1.5em; }
ul					{ list-style-type:disc;list-style-position:inside;}
ol					{ list-style-type:decimal; }
dl					{ margin:0 0 1.5em 0; }
dl dt				{ font-weight:bold; }
dd					{ margin-left:1.5em;}

abbr,
acronym			{ border-bottom:1px dotted #666; }
address			{ margin-top:1.5em; font-style:italic; }
del					{ color:#666; }

a:focus,
a:hover			{ color:#000; }
a:focus,
a:active,
a.active		{ outline:none;text-decoration:none;border:none;}
a						{ color:#222; text-decoration:underline; }

small				{ font-size: 0.8333em; }
blockquote	{ margin:1.5em; color:#666; font-style:italic; }
strong			{ font-weight:bold; }
em,dfn			{ font-style:italic; }
dfn					{ font-weight:bold; }
pre,code		{ margin:1.5em 0; white-space:pre; }
pre,code,tt	{ font:1em 'andale mono', 'monotype.com', 'lucida console', monospace; line-height:1.5; } 
tt					{ display:block; margin:1.5em 0; line-height:1.5; }
hr					{ margin:0;height:1px;background:transparent;color:transparent;padding:0;border:none;border-bottom: 1px dotted #888;}

/* Table Styles
/////////////////////////////////////////////////////////////////*/
table				{ margin-bottom:1.4em; }
th					{ border-bottom:2px solid #ccc; font-weight:bold; }
td					{ border-bottom:1px solid #ddd; }
th,td				{ padding:4px 10px 4px 0; }
tfoot				{ font-style:italic; }
caption			{ background:#ffc; }

/* Forms
/////////////////////////////////////////////////////////////////*/
form						{ }
form.madlib			{ display: inline;}
/* Labels
/////////////////////////////////////////////////////////////////*/
label						{ font-weight: bold; display: block;}
/* Fieldsets
/////////////////////////////////////////////////////////////////*/
fieldset				{ padding:1.5em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend					{ font-weight: bold; font-size:1.2em; }
/* Text Fields
/////////////////////////////////////////////////////////////////*/
.input						{ }
.input label			{ }
.input input			{ }
.input input:focus{ }
/* Radio Button Fields
/////////////////////////////////////////////////////////////////*/
.radio						{ }
.radio label			{ }
input.radio,
.radio input			{ width: auto;}
/* Checkbox Fields
/////////////////////////////////////////////////////////////////*/
.checkbox					{ }
.checkbox label		{ }
input.checkbox,
.checkbox input		{ width: auto;}
/* Textarea Fields
/////////////////////////////////////////////////////////////////*/
.textarea					{ }
.textarea label		{ }
textarea					{ }
textarea:focus		{ }
/* Select Fields
/////////////////////////////////////////////////////////////////*/
.select						{ }
.select label			{ }
select						{ }
select:focus			{ }

/* Presentational Classes
/////////////////////////////////////////////////////////////////*/
.whisper		{ color: #aaa;}
.silent			{ font-size: 0.8em; color: #eee;}
.edit				{ font-weight: bold; color: #f07;}
.note				{ color: #aaa; padding: 0 0 0 16px; background: url(../images/sticky_note_small_pin.png) 0 0 no-repeat;border:none;}
.notes			{ color: #aaa; }
.notes dt		{ padding: 0 0 0 20px;float:left;clear:left;width:2%;background: url(../images/sticky_note_pin.png) 0 4px no-repeat;}
.notes dd		{ width:98%;}